# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
venv/

# IDEs and editors
.vscode/
.idea/

# Test
.ipynb_checkpoints/
**.ipynb
test.py


# secret files
config.json
.env